* {
 box-sizing: border-box;
}
.fixed-overlay {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal {
  max-width: 500px;
  width: 50%;
  padding: 20px;
  background-color: #fff;
  padding-left: 5px;
  line-height: 30px;
}
textarea {
  width: 90%;
  height: 100px;
  resize: none;
}
@media (max-width: 600px) {
  .modal {
    width: 100%;
  }
}


